### Gradle template
.gradle/
build/


### JetBrains (IntelliJ)
.idea/

## Plugin-specific files:

# IntelliJ
out/


### Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini


### Mac OS
# General
*.DS_Store
.AppleDouble
.LSOverride
._*
